/* Alumni intro  */


.alumni-intro {
  min-height: 28.7vh;
  margin-bottom: 2rem;
}

.underline {
  height: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #c45667;
  width: 10%;
}
.alumni-head {
  width: 85%;
  margin: auto;
  padding-top: 5rem;
  font-family: 'Montserrat', sans-serif;
}

/* .alumni-head-image img {
  width: 24rem;
  height: 16.7rem;
  object-fit: cover;
} */

/* Alumni body */

.alumni-body {
  width: 85%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;


  /* flex: 1px 1px 40px; */
}

.alumni-profile {
  padding-bottom: 3rem;
  display: flex;
  flex: 1 1 50%;
}
.alumni-profile-content {
  padding-left: 0.5rem;
}

.alumni-profile-image img {
  width: 13rem;
  height: 12.063rem;
  object-fit: cover;
  border-radius: 50%;
}
