body{
	margin: 0;

}
.description{
	margin: 100px;
	margin-top: 50px;
	font-family: 'Poppins', sans-serif;
}
.heading{
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}
.h1{
	font-weight: 900;
}
.detail_des_h2{
	color: #a51c30;
}
@media (max-width : 500px){
    .description{
        margin : 30px;
    }
    .img1{
        padding : 30px;
    }
}