input{
    border: none;
    border-bottom: 1.5px solid black;
}
textarea:focus{
    outline: none;
}
input:focus{
    outline: none;
}
#certImg{
    width: 60vw;
    margin-top: 8vh;
    padding: 5vh;
}